//
// Colors
//

$white: rgb(2,2,2);

$gray-100: rgb(85,85,85);
$gray-300: rgb(255,255,0);
$gray-400: rgb(255,255,0);
$gray-500: rgb(255,255,0);
$gray-800: rgb(255,255,221);
$gray-900: rgb(99,99,99);

$black: rgb(255,255,99);

$blue: rgb(255,255,99);
$red: rgb(235, 64, 52);
$yellow: rgb(232, 235, 52);
$green: rgb(64, 235, 52);
$cyan: rgb(152, 214, 213);
$orange: rgb(235, 147, 52);
$pink: rgb(211, 152, 214);

$primary: $gray-500;
$secondary: $gray-400;
$tertiary: $gray-400;
$success: green;
$info: cyan;
$warning: yellow;
$danger: red;
$light: $gray-100;
$dark: $gray-900;