$themes: (
  regular:          (darkner: rgb(4, 4, 4),     midtones: rgb(15, 76, 162),    lightner: rgb(218, 218, 218)),
  regular2:         (darkner: rgb(5, 59, 62),   midtones: rgb(65, 149, 175),   lightner: rgb(255, 232, 99)),
  free-spirit:      (darkner: rgb(0, 0, 0),     midtones: rgb(47, 160, 86),    lightner: rgb(236, 236, 236)),
  kartoffel:        (darkner: rgb(0, 0, 0),     midtones: rgb(179, 40, 40),    lightner: rgb(255, 186, 49)),
  sweater:          (darkner: rgb(25, 20, 20),  midtones: rgb(95, 120, 150),   lightner: rgb(230, 210, 170)),
  avocado:          (darkner: rgb(35, 25, 10),  midtones: rgb(120, 140, 80),   lightner: rgb(245, 230, 160)),
  berries:          (darkner: rgb(40, 30, 35),  midtones: rgb(150, 100, 120),  lightner: rgb(230, 220, 200)),
  cappuccino-choco: (darkner: rgb(68, 48, 32),  midtones: rgb(135, 100, 85),   lightner: rgb(230, 215, 185)),
  brownies:         (darkner: rgb(45, 30, 20),  midtones: rgb(120, 85, 60),    lightner: rgb(215, 190, 150)),
  peter:            (darkner: rgb(0, 0, 0),     midtones: rgb(87, 87, 87),     lightner: rgb(255, 255, 0))
);


$active-theme: peter;
$multiplayer: 1;
$vintage-on: false; 
$condition-min-max: if($multiplayer < 2, 1, if($multiplayer > 100, 100, 1 * $multiplayer));
$multiplyer-minus: $multiplayer * 0.4;
$multiplyer-plus: $multiplayer * 1.2;
$balancer: 200;

$darkner: map-get(map-get($themes, $active-theme), darkner);
$midtones: map-get(map-get($themes, $active-theme), midtones);
$lightner: map-get(map-get($themes, $active-theme), lightner);

$darkner: rgb(
  red($darkner) + $condition-min-max,
  green($darkner) + $condition-min-max,
  blue($darkner) + $condition-min-max
);

$midtones: rgb(
  red($midtones) - $condition-min-max,
  green($midtones) - $condition-min-max,
  blue($midtones) - $condition-min-max
);

$lightner: rgb(
  red($lightner) / $condition-min-max,
  green($lightner) / $condition-min-max,
  blue($lightner) / $condition-min-max
);

$vintage-red: if($vintage-on, red($midtones) / 4, 0) + 99;
$vintage-green: if($vintage-on, green($midtones) / 4, 0) + 99;
$vintage-blue: if($vintage-on, blue($midtones) / 4, 0) + 99;

$vintage-rgb: rgb($vintage-red, $vintage-green, $vintage-blue);

$white: rgb(
    red($darkner) + if($vintage-on, $vintage-red / 2, 0),
    green($darkner) + if($vintage-on, $vintage-green / 2, 0),
    blue($darkner) + if($vintage-on, $vintage-blue / 2, 0)
);

// $gray-100: rgb($midtones) + $vintage-rgb; // why not working?
// Navbar bg
$gray-100: rgb(
    red($midtones) + if($vintage-on, red($vintage-rgb) / 3, 0) + if($multiplayer > 66, $balancer, 0),
    green($midtones) + if($vintage-on, green($vintage-rgb) / 3, 0) + if($multiplayer > 66, $balancer, 0),
    blue($midtones) + if($vintage-on, blue($vintage-rgb) / 3, 0) + if($multiplayer > 66, $balancer, 0)
);

$gray-300: rgb(
    red($lightner) + if($vintage-on, red($vintage-rgb), 0),
    green($lightner) + if($vintage-on, green($vintage-rgb), 0),
    blue($lightner) + if($vintage-on, blue($vintage-rgb), 0)
);

$gray-400: rgb(
    red($lightner) + if($vintage-on, red($vintage-rgb) / $multiplyer-minus, 0),
    green($lightner) + if($vintage-on, green($vintage-rgb) / $multiplyer-minus, 0),
    blue($lightner) + if($vintage-on, blue($vintage-rgb) / $multiplyer-minus, 0)
);

$gray-500: rgba(
    red($lightner) + if($vintage-on, red($vintage-rgb) / $multiplyer-plus, 0),
    green($lightner) + if($vintage-on, green($vintage-rgb) / $multiplyer-plus, 0),
    blue($lightner) + if($vintage-on, blue($vintage-rgb) / $multiplyer-plus, 0),
    0.78
);




$gray-800: rgb( // review later
    red($vintage-rgb) + 161 + red($lightner),
    green($vintage-rgb) + 210 + green($lightner),
    blue($vintage-rgb) + 122 + blue($lightner)
);

$gray-900: rgb(
    red($vintage-rgb)
    green($vintage-rgb)
    blue($vintage-rgb)
);

$black: rgb(
  red($lightner) + $vintage-red,
  green($lightner) + $vintage-green,
  blue($lightner) + $vintage-blue
    // red($vintage-rgb) + 165 + red($lightner) / $multiplyer-plus,
    // green($vintage-rgb) + 205 + green($lightner) / $multiplyer-plus,
    // blue($vintage-rgb) + 126 + blue($darkner) / $multiplyer-plus
);

$blue: rgb(
  red($lightner) + $vintage-red,
  green($lightner) + $vintage-green,
  blue($lightner) + $vintage-blue
);

$red:    rgb(red($lightner) + 81, green($lightner) - 151, blue($lightner) - 96);  // Error-Message
$yellow: rgb(red($lightner) + 165, green($lightner) - 97, blue($lightner) + 0);
// $green:  rgb(red($lightner) + 145, green($lightner) - 56, blue($lightner) + 0);  // Confirm-toast-bg
$green:  $midtones;  // Confirm-toast-bg
$cyan:   rgb(red($lightner) + 171, green($lightner) - 97, blue($lightner) - 171); // Danger-Toast-bg
$orange: rgb(red($lightner) + 169, green($lightner) - 55, blue($lightner) - 235);
$pink:   rgb(red($lightner) + 61, green($lightner) - 71, blue($lightner) - 102);  // Code

////// Always Keep Active //////
$primary:   $gray-500;
$secondary: $gray-400;
$tertiary:  $gray-400;
$success:   $green;       // positive or successful actions and information.
$info:      $cyan;        // neutral and informative content
$warning:   $yellow;      // non-destructive warning messages
$danger:    $red;         // errors and dangerous actions
$light:     $gray-100;    // less contrasting colors
$dark:      $gray-900;    // higher contrasting colors


$info-text-emphasis: $black;












// $white
// $gray-100
// $gray-300
// $gray-400
// $gray-500
// $gray-800
// $gray-900
// $black

// $blue
// $red
// $yellow
// $green
// $green
// $orange
// $pink

// $primary
// $secondary
// $tertiary
// $success
// $info
// $warning
// $danger
// $light
// $dark

// $info-text-emphasis
